.hover {
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(230, 122, 122);
}

.button {
    padding: 5px 5px;
    font-size: 30px;
    background-color: yellow;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin: 10px;
}

.clicked {
    padding: 5px 5px;
    font-size: 30px;
    background-color: rgb(131, 131, 0);
    border-style: solid;
    border-color: rgb(37, 37, 37);
    border-width: 5px;
    margin: 10px;
}